.mathField {
  width: 80vw;
  height: 30px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: #4b4b4b;
  color: bisque;
}

#math-field {
  font-size: 32px;
  margin: 3em;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, .3);
  box-shadow: 0 0 8px rgba(0, 0, 0, .2);
}